In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'../data/manually_cleaned_dataset_step_5.csv')

In [3]:
df.tail()

,Country,Repositories Count,Followers,Most Used Language,Total Stars,Account Created At,Hireable,Unique Topics,Total Repository Size (KB)
8448,NaN,2,4,Visual Basic,2,2009-02-20 17:33:40+00:00,False,NaN,2516
8449,NaN,10,5,Python,4,2009-02-20 17:35:10+00:00,False,NaN,17703
8450,NaN,1,4,C++,2,2009-02-20 18:02:09+00:00,False,NaN,1121
8451,NaN,1,5,PHP,3,2009-02-20 18:12:10+00:00,False,NaN,1052
8452,NaN,1,5,Java,2,2009-02-20 18:12:25+00:00,False,NaN,39630

In [4]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                       2627
Repositories Count               0
Followers                        0
Most Used Language             136
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5127
Total Repository Size (KB)       0
dtype: int64

In [5]:
df['Country'] = df['Country'].fillna('Unknown')

In [6]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Bangladesh', 'Belarus', 'Belgium',
       'Benin', 'Bolivia', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Ecuador', 'Egypt',
       'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana',
       'Gibraltar', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Latvia', 'Lebanon',
       'Lithuania', 'Malawi', 'Malaysia', 'Mauritius', 'Mexico',
       'Moldova', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Nigeria', 'Norway',
       'Pakistan', 'Palestine', 'Paraguay', 'Philippines', 'Poland',
       'Portugal', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tanzania', 'Tasmania',
       'Thailand', 'Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vietnam', 'Wales', 'West Indies',
       'Yemen', 'Unknown'], dtype=object)

In [7]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                          0
Repositories Count               0
Followers                        0
Most Used Language             136
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5127
Total Repository Size (KB)       0
dtype: int64

In [8]:
# Filter out rows where Country is "Unknown"
filtered_df = df[df['Country'] != 'Unknown']
print(len(filtered_df))

5826

In [9]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                          0
Repositories Count               0
Followers                        0
Most Used Language             136
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5127
Total Repository Size (KB)       0
dtype: int64

In [10]:
df = df.dropna(subset=['Most Used Language'])

In [11]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                          0
Repositories Count               0
Followers                        0
Most Used Language               0
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5019
Total Repository Size (KB)       0
dtype: int64

In [12]:
df['Unique Topics'] = df['Unique Topics'].fillna('Unknown')

In [13]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                       0
Repositories Count            0
Followers                     0
Most Used Language            0
Total Stars                   0
Account Created At            0
Hireable                      0
Unique Topics                 0
Total Repository Size (KB)    0
dtype: int64

In [14]:
df.to_csv('../data/final_cleaned_data.csv', index=False)
print("Results saved to '('../data/final_cleaned_data.csv'.")

Results saved to '('../data/final_cleaned_data.csv'.